body {
	background-image: url("../images/background_project.jpg");
	background-repeat: repeat;
	background-position: center;
	 
}

.mainTitle {
	font-size: 72px;
	color: #F09233;
	text-shadow: 5px 5px 6px black;
	background-color: #E5E986;
	border : 5px solid #F09233;
	text-align: center;
	margin-top : 3%;
	margin-left : 15%;
	margin-right : 15%;
	padding : 2%;
}

h2 {
	font-size: 50px;
	font-weight : bold;
	text-shadow: 5px 5px 6px black;
	background-color: #E5E986;
	border : 5px solid #F09233;	
	text-align: center;
	margin-top : 7%;
	padding : 1%;
	margin-left : 25%;
	margin-right : 25%;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

#formSuivi {
	display : flex;
	justify-content: center;
	margin-top: 5%;
	margin-bot: 5%;
	
}

#btnSuivi {
	font-size: 30px;
	font-weight : bold;
	color: white;
	text-shadow: 5px 5px 6px black;
	background-color: #E5E986;
	border : 5px solid #F09233;	
	text-align: center;
		
}

.suivi {
	height : 50px;
}

.paraConnect {
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	color:orange;
	text-decoration: underline;
}


.formAuth,.formInscription,.formDynamik {
	display : flex;
	justify-content: center;
	flex-direction:column; 
	margin-top: 5%;
	margin-left : 20%;
	margin-right :20%;
	background-color: #E5E986;
	border : 5px solid #F09233;	
	padding : 5%;
	margin-bot: 5%;
}

label {
	font-size: 30px;
	font-weight: bold;
	color:orange;
}

.groupBoutons {
	display : flex;
	justify-content: center;
	margin : 2%;
}

.valid,.cancel,.home {
	font-weight : bold;
	font-size : 24px;
	text-shadow: 5px 5px 6px black;
	background-color: orange;
	border : 5px solid #F09233;	
	text-align: center;
	margin-top : 5%;
	margin-left : 5%;
	margin-right : 5%;
	color: white;
	width : 30%;
	height: 50px;
}
	
	
	.cancelCenter {
	font-weight : bold;
	font-size : 24px;
	text-shadow: 5px 5px 6px black;
	background-color: orange;
	border : 5px solid #F09233;	
	text-align: center;
	margin-top : 5%;
	margin-left : 35%;
	margin-right : 65%;
	color: white;
	width : 30%;
	height: 50px;
	justify-content: center;

}

input {
	
	height : 30px;
}

.errorConnexion {
	color : red;
	font-weight: bold;
	font-size: 18px;
	text-align: center
}

.home {
	width : 60%;
	text-align: center;
	margin-left:20%;
	padding-top:2%
}

.banConf {
	display : flex;
	justify-content: center;
	flex-direction:column; 
	margin-top: 5%;
	margin-left : 20%;
	margin-right :20%;
	background-color: #E5E986;
	border : 5px solid #F09233;	
	padding : 5%;
	margin-bot: 5%;
}

table.redTable {
  border: 2px solid #A40808;
  background-color: #EEE7DB;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tr:nth-child(even) {
  background: #F5C8BF;
}
table.redTable thead {
  background: #A40808;
}
table.redTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #A40808;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #A40808;
}
table.redTable tfoot td {
  font-size: 13px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}
.myButton {
color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }

.trash,.icon {
  color: #000;
  position: absolute;
  margin-left: 5px;
  margin-top: 7px;
  width: 9px;
  height: 10px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-radius: 0 0 2px 2px;
}